@model FerryBookingClassLibrary.Models.Guest

@{
    ViewData["Title"] = "Guest Details";
}

<h2>Guest Details</h2>

<div class="card">
    <div class="card-header">
        <h4>Guest ID: @Model.Id</h4>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label class="col-sm-3 control-label">
                <h5>Name:</h5>
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">@Model.Name</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label">
                <h5>Gender:</h5>
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">@(Model.Gender ? "Female" : "Male")</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label">
                <h5>Ferry ID:</h5>
            </label>
            <div class="col-sm-9">
                <p class="form-control-static">@Model.FerryId</p>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <a class="btn btn-primary" href="/Guests/Edit/@Model.Id">Edit</a>
        <a class="btn btn-secondary" href="/Guests">Cancel</a>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}