@model IEnumerable<FerryBookingClassLibrary.Models.Guest>

@{
ViewData["Title"] = "Guest Index";
}

<h2>Guests</h2>

<p>
    <a class="btn btn-primary" href="/Guests/Create">Create New Guest</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Car ID</th>
        <th>Ferry ID</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Name</td>
        <td>@item.Gender</td>
        <td>@item.CarId</td>
        <td>@item.FerryId</td>
        <td>
            <a class="btn btn-info" href="/Guests/Details/@item.Id">Details</a> |
            <a class="btn btn-warning" href="/Guests/Edit/@item.Id">Edit</a> |
            <a class="btn btn-danger" href="/Guests/Delete/@item.Id">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>
