@model FerryBookingClassLibrary.Models.Ferry

@{
ViewData["Title"] = "Edit Ferry";
}

<h2>Edit Ferry</h2>

<div class="alert alert-warning" role="alert">
    Are you sure you want to edit this ferry?
</div>

<div class="card">
    <div class="card-header">
        <h4>@Model.Name</h4>
    </div>
    <form asp-action="Edit" method="post">
        <div class="card-body">
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-3 control-label"><h5>Name</h5></label>
                <div class="col-sm-9">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="MaxCars" class="col-sm-3 control-label"><h5>Max Cars</h5></label>
                <div class="col-sm-9">
                    <input asp-for="MaxCars" class="form-control" />
                    <span asp-validation-for="MaxCars" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="MaxGuests" class="col-sm-3 control-label"><h5>Max Guests</h5></label>
                <div class="col-sm-9">
                    <input asp-for="MaxGuests" class="form-control" />
                    <span asp-validation-for="MaxGuests" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PricePerCar" class="col-sm-3 control-label"><h5>Price per Car</h5></label>
                <div class="col-sm-9">
                    <input asp-for="PricePerCar" class="form-control" />
                    <span asp-validation-for="PricePerCar" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PricePerGuest" class="col-sm-3 control-label"><h5>Price per Guest</h5></label>
                <div class="col-sm-9">
                    <input asp-for="PricePerGuest" class="form-control" />
                    <span asp-validation-for="PricePerGuest" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-secondary" href="/Ferries">Cancel</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
