@model FerryBookingMVC.Models.CarViewModel

@{
ViewData["Title"] = "Create Car";
}

<h2>Create Car</h2>

<hr />

<form asp-action="Create">
    <div class="form-group">
        <h4>Guests:</h4>
        <div class="card p-3" style="max-height: 300px; overflow-y: auto;">
            @foreach (var guest in ViewBag.Guests)
            {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="SelectedGuestIds" value="@guest.Id" id="guest_@guest.Id"/>
                <label class="form-check-label" for="guest_@guest.Id">@guest.Name (@guest.Id)</label>
            </div>
            }
        </div>
        <span asp-validation-for="SelectedGuestIds" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FerryId" class="control-label">Ferry</label>
        <select asp-for="FerryId" class="form-control" asp-items="ViewBag.Ferries"></select>
        <span asp-validation-for="FerryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a class="btn btn-secondary" href="/Cars">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
