@model IEnumerable<FerryBookingClassLibrary.Models.Car>

@{
ViewData["Title"] = "Car Index";
}

<h2>Cars</h2>

<p>
    <a class="btn btn-primary mb-3" href="/Cars/Create">Create New Car</a>
</p>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Car ID</th>
        <th>Guests</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.Guests.Count</td>
        <td>
            <a class="btn btn-info btn-sm" href="/Cars/Details/@item.Id">Details</a>
            <a class="btn btn-warning btn-sm" href="/Cars/Edit/@item.Id">Edit</a>
            <a class="btn btn-danger btn-sm" href="/Cars/Delete/@item.Id">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>
