@{
ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Ferry Booking!</h1>
    <p class="lead">This is a simple application to manage ferry bookings, including cars and guests.</p>
    <hr class="my-4">
    <p>Use the navigation bar to manage ferries, cars, and guests.</p>
</div>
